@inherits LayoutComponentBase

<PageTitle>@AppConstants.APP_TITLE</PageTitle>

<MudThemeProvider @bind-IsDarkMode="@_state.IsDarkMode" Theme="ThemeManager.GetTheme()!" @ref="_mudThemeProvider" @bind-IsDarkMode:after="OnDarkModeChanged" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="d-flex flex-column">
   <MudAppBar Elevation="1" DisableGutters="true" Dense="true">
      <MudIconButton Icon="@Icons.Material.Filled.Menu" Class="px-7" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
      <MudText Typo="Typo.h5">@AppConstants.APP_TITLE</MudText>
      <MudSpacer />
      <MudToggleIconButton @bind-Toggled="@_state.IsDarkMode" @bind-Toggled:after="@SaveTheme"
                           Icon="@Icons.Material.Filled.DarkMode" Title="Dark"
                           ToggledIcon="@Icons.Material.Filled.LightMode" ToggledTitle="Light" />
      @*<MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />*@
   </MudAppBar>

   <MudHidden Breakpoint="Breakpoint.LgAndUp">
      <MudDrawer @bind-Open="@_state.IsDrawerOpen" ClipMode="DrawerClipMode.Always" Style="height:calc(100% - 96px)"
                 Anchor="Anchor.Left"
                 Elevation="2" Variant="@DrawerVariant.Responsive">
         <MudNavMenu Bordered="true" Margin="Margin.Dense" Color="Color.Secondary" Class="mud-height-full d-flex flex-column">
            <AIdentities.UI.Features.Core.Components.AvailablePages />
            <MudSpacer />
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings" Href="/settings" Class="object-bottom">Settings</MudNavLink>
         </MudNavMenu>
      </MudDrawer>
   </MudHidden>

   <MudHidden Breakpoint="Breakpoint.MdAndDown">
      <MudDrawer @bind-Open="@_state.IsDrawerOpen" ClipMode="DrawerClipMode.Always" Style="height:calc(100% - 96px)"
                 Anchor="Anchor.Left" Color="Color.Surface"
                 Elevation="2" Variant="@DrawerVariant.Mini">
         <MudNavMenu Bordered="true" Margin="Margin.Dense" Color="Color.Secondary" Class="mud-height-full d-flex flex-column">
            <AIdentities.UI.Features.Core.Components.AvailablePages />
            <MudSpacer />
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings" Href="/settings" Class="object-bottom">Settings</MudNavLink>
         </MudNavMenu>
      </MudDrawer>
   </MudHidden>

   <MudMainContent Class="d-flex flex-grow-1 overflow-hidden" Style="padding-bottom: 48px; height: 100vh;">@Body</MudMainContent>

   <MudAppBar Bottom="true" DisableGutters="true" Elevation="3" Dense="true" Class="mud-theme-dark"
              Style="top: auto; bottom: 0" ToolBarClass="d-flex flex-row mud-width-full px-3">
      <MudText Typo="Typo.body2">&copy; Mithril Man 2023</MudText>
      <MudSpacer />
      <a href="https://github.com/MithrilMan/AIdentities/" target="_blank" class="mud-theme-dark"><MudIcon Icon="@Icons.Custom.Brands.GitHub" /></a>
   </MudAppBar>

</MudLayout>
