@if (Message is null) return;

<div class="">
   @if (Message.IsAIGenerated)
   {
      <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.End">
         <MudItem xs="11">
            @if (NewGroup)
            {
               <MudStack Row="true" AlignItems="AlignItems.Center">
                  <MudAvatar Color="Color.Tertiary" Size="Size.Medium">
                     <MudImage Src="@($"/api/AIdentity/Image/{Message.AuthorId}")" />
                  </MudAvatar>
                  <MudText Typo="Typo.subtitle1"><b>@Message.AuthorName</b></MudText>
                  <MudText>@Message.CreationDate.ToString("HH:mm")</MudText>
                  <MudSpacer />
               </MudStack>
            }
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0">
               <div style="width: 46px" class="@MessageIconClass">
                  @if (IsGeneratingSpeech)
                  {
                     <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                     <MudIcon Icon="@Icons.Material.Filled.RecordVoiceOver" Size="Size.Medium"
                              Class="absolute ma-auto"
                              Style="left:0;right:0;top:0;bottom:0;" />
                  }
                  else if (HasAudio)
                  {
                     <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Medium" Variant="Variant.Filled"
                                    Color="Color.Primary" OnClick="PlayAudio" />
                  }
               </div>
               <MudPaper Class="pa-1 overflow-x-auto" Elevation="2" Style="@MessageStyle">
                  @if (IsCompleteMessage)
                  {
                     <MudMarkdown Value="@Message.Text" />
                  }
                  else
                  {
                     <pre>@Message.Text</pre>
                  }
               </MudPaper>
            </MudStack>
            <MudSpacer />
         </MudItem>
         <MudItem xs="1">
            @if (IsSelected)
            {
               <MudStack Row="true" Spacing="1" Justify="Justify.FlexEnd" Class="px-2 pb-1">
                  <MudIconButton Class="pa-0" Icon="@Icons.Material.Filled.ContentCopy" OnClick="CopyToClipboard" />
                  <MudIconButton Class="pa-0" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="Delete" />
               </MudStack>
            }
         </MudItem>
      </MudStack>
   }
   else
   {
      <MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.End">
         <MudItem xs="1">
            @if (IsSelected)
            {
               <MudStack Row="true" Spacing="1" Justify="Justify.FlexStart" Class="px-2 pb-1">
                  <MudIconButton Class="pa-0" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="Delete" />
                  <MudIconButton Class="pa-0" Icon="@Icons.Material.Filled.ContentCopy" OnClick="CopyToClipboard" />
               </MudStack>
            }
         </MudItem>
         <MudItem xs="11">
            @if (NewGroup)
            {
               <MudStack Row="true" AlignItems="AlignItems.Center">
                  <MudSpacer />
                  <MudText Typo="Typo.subtitle1"><b>@Message.AuthorName</b></MudText>
                  <MudText>@Message.CreationDate.ToString("HH:mm")</MudText>
                  <MudAvatar Color="Color.Secondary" Size="Size.Medium">@Message.AuthorName</MudAvatar>
               </MudStack>
            }
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0">
               <MudSpacer />
               <MudPaper Class="pa-1 overflow-x-auto mud-theme-primary" Elevation="2" Style="@MessageStyle">
                  @if (IsCompleteMessage)
                  {
                     <MudMarkdown Value="@Message.Text" />
                  }
                  else
                  {
                     <pre>@Message.Text</pre>
                  }
               </MudPaper>
               <div style="width: 46px" class="@MessageIconClass">
                  @if (IsGeneratingSpeech)
                  {
                     <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                     <MudIcon Icon="@Icons.Material.Filled.RecordVoiceOver" Size="Size.Medium"
                              Class="absolute ma-auto "
                              Style="left:0;right:0;top:0;bottom:0;" />
                  }
                  else if (HasAudio)
                  {
                     <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Medium" Variant="Variant.Filled"
                                    Color="Color.Primary" OnClick="PlayAudio" />
                  }
               </div>
            </MudStack>
         </MudItem>
      </MudStack>
   }
</div>

@code {
   protected string MessageStyle => StyleBuilder.Empty().AddStyle("user-select", "text", IsSelected).Build();

   protected string MessageIconClass => CssBuilder.Default("d-flex flex-shrink-0 justify-center")
      .AddClass("animate__animated animate__heartBeat animate__infinite", IsGeneratingSpeech)
      .Build();
}
