@page "/aidentities"
@inherits AppPage<AIdentities>

<div class="d-flex flex-column gap-1 flex-grow-1">
   <MudGrid Spacing="0">
      <MudItem xs="4" Class="d-flex flex-column px-4">
         <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Tertiary">AIdentities</MudText>
         <MudSpacer />
         <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.PersonAdd" IconSize="Size.Large" Size="Size.Large"
                    OnClick="CreateNewAIdentity">Create a new AIdentity</MudButton>
         <MudSpacer />
         <MudButton Variant="Variant.Filled" IconSize="Size.Large" Size="Size.Large"
                    EndIcon="@("<path d=\"M14,12L10,8V11H2V13H10V16M20,18V6C20,4.89 19.1,4 18,4H6A2,2 0 0,0 4,6V9H6V6H18V18H6V15H4V18A2,2 0 0,0 6,20H18A2,2 0 0,0 20,18Z\" />")"
                    OnClick="ImportAIdentity">Import AIdentity</MudButton>
         <MudSpacer />
      </MudItem>
      <MudItem xs="8">
         <MudPaper>
            <MudCarousel Class="flex-shrink-0 pa-0 ma-0" Style="height:200px;" AutoCycle="true" AutoCycleTime="TimeSpan.FromSeconds(5)"
                         TData="AIdentity"
                         ArrowsPosition="Position.Bottom" BulletsPosition="Position.Bottom">
               <BulletTemplate Context="selected">
                  <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                     <span class="mud-icon-button-label">
                        <MudIcon Icon="@(selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Color="@Color.Inherit" />
                     </span>
                  </div>
               </BulletTemplate>
               <ChildContent>
                  @foreach (var aIdentity in AIdentityProvider.All())
                  {
                     <MudCarouselItem @key="aIdentity" Transition="Transition.Custom" Color="@Color.Surface" Class="pa-1"
                                   CustomTransitionEnter="animate-enter animate__rollIn"
                                   CustomTransitionExit="animate-exit animate__rollOut">
                        <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
                           <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                              <MudAvatar Size="Size.Large">
                                 <MudImage Src="@aIdentity.Image" />
                              </MudAvatar>
                              <MudText Typo="Typo.h4">@aIdentity.Name</MudText>
                           </MudStack>
                           <MudText Typo="Typo.body1" Align="Align.Center">@aIdentity.Description</MudText>
                           <MudToolBar>
                              <MudButton EndIcon="@Icons.Material.Filled.Edit" Color="Color.Secondary" Variant="Variant.Filled" Class="mx-auto"
                                      OnClick="(() => EditAIdentity(aIdentity))">Edit</MudButton>
                           </MudToolBar>
                        </MudStack>
                     </MudCarouselItem>
                  }
               </ChildContent>
            </MudCarousel>
         </MudPaper>
      </MudItem>
   </MudGrid>

   <MudTabs Class="flex-h-fix flex-grow-1" PanelClass="d-flex flex-column flex-h-fix flex-grow-1" TabPanelClass="px-0" MinimumTabWidth="120px"
            Elevation="4" Rounded="false" Color="@Color.Primary" SliderColor="Color.Tertiary" @ref="_tabs" @bind-ActivePanelIndex="_state.ActivePanelIndex">

      <MudTabPanel Text="About" Class="flex-grow-1">
         <div class="pa-4 d-flex flex-column flex-grow-1">
            <MudSpacer></MudSpacer>
            <MudText Typo="Typo.h4" Color="Color.Tertiary">Explore your AIdentities</MudText>
            <MudText Typo="Typo.h6" Class="mb-5">Say goodbye to basic AI interactions and hello to customizable, purpose-driven agents.</MudText>
            <MudText Typo="Typo.subtitle1">
               With AIdentity's unique plugin system, you can easily enhance your AI with specialized features and an intuitive UI.
            </MudText>
            <MudText Typo="Typo.body1">
               Get ready to tackle multiple tasks with ease, while keeping your AI's core properties intact.
            </MudText>
            <MudText Typo="Typo.body1" Class="mt-4">
               The future of AI versatility is here, and it's called AIdentity!
            </MudText>
            <MudSpacer></MudSpacer>
         </div>
      </MudTabPanel>

      <AIdentities.UI.Features.AIdentityManagement.Components.TabGeneric AIdentity="@_state.CurrentAIDentity"
                                                                         IsEditing="_state.IsEditing"
                                                                         IsEditingChanged="OnIsEditingChanged" />
      @foreach (var featureRegistration in AIdentityFeatureRegistrations)
      {
         <AIdentities.UI.Features.AIdentityManagement.Components.AIdentityFeatureTab FeatureRegistration="featureRegistration" AIdentity="_state.CurrentAIDentity" />
      }
   </MudTabs>
</div>
