@page "/aidentities"
@inherits AppPage<AIdentities>

<div class="d-flex flex-column gap-1 flex-grow-1">
   <MudGrid>
      <MudItem xs="4" Class="d-flex flex-column">
         <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Tertiary">AIdentities</MudText>
         <MudSpacer />
         <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.PersonAdd" IconSize="Size.Large" Size="Size.Large"
                    OnClick="CreateNewAIdentity">Create a new AIdentity</MudButton>
         <MudSpacer />
         <MudButton Variant="Variant.Filled" EndIcon="@("<path d=\"M14,12L10,8V11H2V13H10V16M20,18V6C20,4.89 19.1,4 18,4H6A2,2 0 0,0 4,6V9H6V6H18V18H6V15H4V18A2,2 0 0,0 6,20H18A2,2 0 0,0 20,18Z\" />")" IconSize="Size.Large" Size="Size.Large"
                    OnClick="ImportAIdentity">Import AIdentity</MudButton>
         <MudSpacer />
      </MudItem>
      <MudItem xs="8">
         <MudPaper>
            <MudCarousel Class="flex-shrink-0 pa-0 ma-0" Style="height:200px;" AutoCycle="true" AutoCycleTime="TimeSpan.FromSeconds(5)"
                         TData="AIdentity"
                         ArrowsPosition="Position.Bottom" BulletsPosition="Position.Bottom">
               @foreach (var aIdentity in AIdentityProvider.All())
               {
                  <MudCarouselItem @key="aIdentity" Transition="Transition.Custom" Color="@Color.Primary" Class="pa-1"
                                CustomTransitionEnter="animate-enter animate__rollIn"
                                CustomTransitionExit="animate-exit animate__rollOut">
                     <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                           <MudAvatar Size="Size.Large">
                              <MudImage Src="@aIdentity.Image" />
                           </MudAvatar>
                           <MudText Typo="Typo.h4">@aIdentity.Name</MudText>
                        </MudStack>
                        <MudText Typo="Typo.body1" Align="Align.Center">@aIdentity.Description</MudText>
                        <MudToolBar>
                           <MudButton EndIcon="@Icons.Material.Filled.Edit" Color="Color.Secondary" Variant="Variant.Filled" Class="mx-auto"
                                   OnClick="(() => EditAIdentity(aIdentity))">Edit</MudButton>
                        </MudToolBar>
                     </MudStack>
                  </MudCarouselItem>
               }
            </MudCarousel>
         </MudPaper>
      </MudItem>
   </MudGrid>

   <MudTabs Class="flex-h-fix flex-grow-1" PanelClass="d-flex flex-h-fix"
   Elevation="4" Rounded="true" Color="@Color.Secondary" @ref="_tabs" @bind-ActivePanelIndex="_state.ActivePanelIndex">
      <MudTabPanel Text="About">
         <MudGrid>
            <MudItem xs="12">
               <MudText Typo="Typo.h4">About AIdentities</MudText>
               <MudText Typo="Typo.body1">
                  AIdentities are a way to define AI agent behaviors.<br />
                  Technically each AIdentity could execute different tasks in different ways, it depends on the implementation
                  of the used feature.<br />
                  They can interact each other and within the environment, they can be used to create a complex AI agent.<br />
               </MudText>
            </MudItem>
         </MudGrid>
      </MudTabPanel>
      <AIdentities.UI.Features.AIdentityManagement.Components.TabGeneric AIdentity="@_state.CurrentAIDentity"
                                                                         IsEditing="_state.IsEditing"
                                                                         IsEditingChanged="OnIsEditingChanged" />
   </MudTabs>
</div>
