<MudForm Model="@_state" @ref="@_form" Validation="@(_validator.ValidateValue)" ValidationDelay="0" Class="flex-grow-1 d-flex flex-column flex-h-fix overflow-y-auto gap-2">
   <AIdentityFeatureSection Title="Customize Voice" Info="Customize AIdentity voice with ElevenLabs"
                            CanBeDisabled="true" @bind-IsEnabled="_state.Customize">
      <MudText Typo="Typo.h6" Color="Color.Primary">Default Parameters</MudText>
      <MudTextField @bind-Value="_state.ModelId" Label="Text to Speech model" Variant="Variant.Text" For="()=>_state.ModelId"
                    Placeholder="Leave blank to use default model." />

      <MudStack Row="true" AlignItems="AlignItems.Center">
         <MudIconButton Title="Refresh the voice list" Icon="@Icons.Material.Filled.Refresh" Variant="Variant.Filled" OnClick="RefreshAvailableVoices" />
         <MudComboBox @bind-Value="_state.VoiceId" Label="Voice" Variant="Variant.Text" For="()=>_state.VoiceId">
            @foreach (var voice in _state.AvailableVoices ?? Enumerable.Empty<GetVoicesResponse.Voice>())
            {
               <MudComboBoxItem Value="@voice.Id" Text="@voice.Name">@voice.Name</MudComboBoxItem>
            }
         </MudComboBox>
      </MudStack>

      <MudText Typo="Typo.h6" Color="Color.Primary">Voice Settings</MudText>
      <MudStack Row="true">
         <MudSlider Min="0f" Max="1f" @bind-Value="_state.VoiceStability" ValueLabel="true" Size="Size.Medium"
                    Immediate="true" Variant="Variant.Filled" Step="0.05f">Stability: @_state.VoiceStability</MudSlider>

         <MudSlider Min="0f" Max="1f" @bind-Value="_state.VoiceSimilarityBoost" ValueLabel="true" Size="Size.Medium"
                    Immediate="true" Variant="Variant.Filled" Step="0.05f">Similarity Boost: @_state.VoiceSimilarityBoost</MudSlider>
      </MudStack>
   </AIdentityFeatureSection>

   @if (_state.Customize)
   {
      <AIdentityFeatureSection Title="Try the voice" Info="Try the voice by using current settings.">
         <MudStack Row="true">
            <MudButton StartIcon="@Icons.Material.Filled.Speaker" Color="Color.Success" Variant="Variant.Filled" OnClick="TryVoice">
               Try the voice
            </MudButton>
            <MudText Typo="Typo.subtitle2">
               <p>Testing a voice costs credits, so use it wisely.</p>
            </MudText>
            <MudTextField @bind-Value="_state.TestingText" Label="Message to speech" Placeholder="Type a text to speech with current settings."></MudTextField>
         </MudStack>
      </AIdentityFeatureSection>
   }
</MudForm>
